@import '../vendor/variables';

.footer{
  
  padding: 3.6rem 0 8rem;

  &__logo{
    width: 25%;
    text-align: left;
  }

  &__location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.2rem;
    border-bottom: 1px solid $border;
  }

  &__location-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;

    &_type_phone{
      display: flex;
      flex-direction: column;
    }
  }

  &__description{
    margin-left: 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    opacity: 0.8;
    text-align: left;

    &>a{
      text-decoration: none;
      color: #000;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &__location-contacts{
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    opacity: 0.8;
    color: #000;
  }

  &__location-phone{
    text-decoration: none;

    &:hover{
      transform: scale(1.05);
    }
  }

  &__location-phone-order{
    &:hover{
      text-shadow: 0 0 5px rgba(0, 0, 0, .3);
      text-decoration: none;
    }
  }

  &__menu{
    padding-top: 3.2rem;
  }

}


@media (max-width: 736px){
  .footer{

    padding: 3rem 0;

    &__location{
      flex-wrap: wrap;
    }

    &__logo{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }

    &__location-item{
      width: 30%;
    }

  }
} 

@media (max-width: 568px){

  .footer{

    &__location-item{
      width: 100%;
      margin-bottom: 1.5rem;
    }

    &__location-mark{
      width: 3rem;
    }

    &__location-item_type_phone{
      display: flex;
      align-items: flex-end;
    }

  }
} 