.hero{
  margin-top: -8.5rem;

  &__cover{
    background: center / contain no-repeat url("./images/hero.png");
    padding-bottom: 52.77%;
  }

  &__wrapper{
    position: absolute;
    top: 24.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 70rem;
  }

  &__title{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6rem;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: left;
    margin-bottom: 2.4rem;
  }

  &__subtitle{
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: left;
    max-width: 60rem;
    margin-bottom: 4rem;
  }

  &__button{
    padding: 1.2rem 3.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    background-color: #EA6657;
    border-radius: 0.4rem;
    border: none;
    outline: none;

    &:hover{
      background-color: darken($color: #EA6657, $amount: 5%);
      box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5 );
    }

    &:active{
      background-color: darken($color: #EA6657, $amount: 10%);
    }
  }
  
}

@media (max-width: 1200px){
  .hero{
      margin-top: -10rem;

    &__wrapper{
      top: 20rem;
      max-width: 65rem;
    }

    &__title{
      font-size: 3.2rem;
      line-height: 4rem;
      max-width: 100%;
    }

    &__subtitle{
      font-size: 2.5rem;
      line-height: 3rem;
      max-width: 100%;
      margin-bottom: 3rem;
    }

    &__button{
      font-size: 1.5rem;
    }

  }
} 


@media (max-width: 990px){
  .hero{
      margin-top: 0;

    &__wrapper{
      top: 0;
      max-width: 75rem;
    }

    &__title{
      font-size: 4.2rem;
      line-height: 5rem;
      margin-top: 4rem;
    }

    &__subtitle{
      font-size: 3rem;
      line-height: 4rem;
      margin-bottom: 8rem;
    }
  }
} 



@media (max-width: 736px){
  .hero{

    &__title{
      font-size: 3rem;
      margin-top: 2rem;
    }

    &__subtitle{
      font-size: 2.5rem;
    }

    &__subtitle{
      margin-bottom: 5rem;
    }

  }
} 


@media (max-width: 568px){
  .hero{

    margin-top: 0;

    &__wrapper{
      top: 0;
    }

    &__title{
      font-size: 2.5rem;
      line-height: 2.7rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      max-width: 60%;
    }

    &__subtitle{
      font-size: 2.5rem;
      line-height: 2.7rem;
      margin-bottom: 3rem;
      max-width: 60%;
    }

    &__button{
      padding: 1rem 2rem;
      line-height: 2rem;
    }
  }
} 


@media (max-width: 500px){
  .hero{


    &__title{
      max-width: 75%;
    }

    &__subtitle{
      max-width: 75%;
    }
  }
} 


@media (max-width: 460px){
  .hero{

    &__title{
      font-size: 2.5rem;
      line-height: 2.7rem;
      margin-top: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      max-width: 80%;
    }

    &__subtitle{
      font-size: 2rem;
      line-height: 2.2rem;
      margin-bottom: 2.5rem;
      max-width: 80%;
    }

    &__button{
      padding: 1rem 2rem;
      line-height: 2rem;
    }
  }
} 


@media (max-width: 420px){
  .hero{

    &__title{
      font-size: 2rem;
      line-height: 2.2rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      max-width: 80%;
    }

    &__subtitle{
      font-size: 2rem;
      line-height: 1.8rem;
      margin-bottom: 1.5rem;
      max-width: 80%;
    }

    &__button{
      padding: 1rem 2rem;
      line-height: 2rem;
    }

  }
} 

@media (max-width: 360px){
  .hero{

    &__title{
      font-size: 2rem;
      line-height: 2.2rem;
    }

    &__subtitle{
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

  }
} 