.menu{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__item{
    width: 25%;
  }

  &__item_type_broad{
    width: 50%;
  }

  &__title{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
    color: rgba(0, 0, 0, .4);
    text-align: left;
  }

  &__nav{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    &_type_broad{
      display: flex;
      flex-wrap: wrap;
    }

  }

  &__nav-item{
    text-align: left;

    &_type_broad{
      display: block;
      width: 50%;
    }
  }

  &__link{
    font-size: 1.6rem;
    line-height: 3.2rem;
    opacity: 0.8;
    color: #000;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

}


@media (max-width: 736px){
  .menu{

    flex-wrap: wrap;
      
    &__item{
      width: 100%;
      margin-bottom: 2rem;
      border-bottom: 1px solid $border;

      &:last-child{
        border: none;
      }
    }

    &__title{
      margin-bottom: 1rem;
    }

    &__nav{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 1rem;
    }

    &__nav-item{
      width: 50%;
    }
    
  }
} 


@media (max-width: 568px){
  .menu{

    &__nav{
      gap: 5%;
    }

    &__nav-item{
      width: 47.5%;
    }

  }
}