@import '../vendor/variables';

.solution{

  padding-top: 12rem;

  &__title{
    margin-bottom: 8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.6rem;
    letter-spacing: 0.02em;
    max-width: 101rem;
    text-align: left;
  }

  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3.2rem 0;
    border-bottom: 1px solid $border;

    &:last-child{
      border-bottom: none;
    }
  }

  &__number{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4rem;
    color: $violet;
    margin-right: 6.5rem;
  }

  &__name{
    display: inline-block;
    max-width: 35rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4rem;
    text-align: left;

    &-wrap{
      width: 40%;
    }
  }

  &__description{
    width: 50%;
    padding-right: 12.8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: 0.6;
    text-align: left;
  }

  &__arena{
    position: relative;
  }

}

@media (max-width: 1200px){

  .solution{

    &__title{
      font-size: 3.2rem;
      line-height: 4rem;
      max-width: 80rem;
      margin-bottom: 5rem;
    }

    &__name{
      font-size: 3rem;
      max-width: 90%;
    }    

  }

}

@media (max-width: 736px){

  .solution{

    padding-top: 5rem;

    &__title{
      font-size: 3rem;
      line-height: 3rem;
      max-width: 80rem;
      margin-bottom: 5rem;
    }

    &__number{
      margin-right: 2.5rem;
    }

    &__name-wrap{
      width: 30%;
    }

    &__name{
      font-size: 2.5rem;
    }    

    &__description{
      padding-right: 2rem;
      font-size: 2rem;
    }

  }

}

@media (max-width: 568px){

  .solution{

    &__title{
      font-size: 3rem;
      line-height: 3.2rem;
      max-width: 80rem;
      margin-bottom: 3rem;
      text-align: center;
    }

    &__name{
      font-size: 3rem;
    }    

    &__item{
      display: flex;
      flex-wrap: wrap; 
      align-items: flex-start;     
    }

    &__number{
      width: 20%;
      margin: 0;
    }

    &__name-wrap{
      width: 80%;
      margin-bottom: 2rem;
    }

    &__name{
      text-align: center;
      font-size: 3rem;
      line-height: 3rem;
    }

    &__description{
      width: 100%;
      padding: 1rem;
    }

  }

}